body{
    font-family: 'Caveat',cursive;
    background-color: aqua;
}
.header_div{
    background-color: chartreuse;
    color: black;
}
.header_div p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgreen;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: darksalmon;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: lightcoral;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px chocolate;
}
